body {
    margin: 0px;
}


input {
    border: 1px solid rgb(215, 226, 236);
    border-radius: 5px;
    padding: 10px;
}

.filler-space {
    background-color: rgb(7, 11, 120);
    position: relative;
    height: 150px;
    z-index: 1;
    background-image: linear-gradient(to right, rgb(7, 11, 120), rgb(68, 67, 139), rgb(152, 152, 168));
}

.conversion {
    position: absolute;
    z-index: 2;
    top: 150px;
    left: 20%;
    background-color: white;
    width: 60%;
    height: 150px;
    margin: auto;
    box-shadow: rgba(35, 55, 80, 0.3) 0px 6px 12px 0px;
    border-radius: .5rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.button-container {
    margin-top: .8rem;
    display:flex;
    flex-direction: row;
    align-items:baseline;
    justify-content: space-between;
}

button {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    align-self: flex-end;
    background-color:blue;
    border: none;
    border-radius: .4rem;
    color: white;
    padding: 1rem;
    transition: background-color .2s, box-shadow .2s;
    margin-right: 10px;
}


button:hover {
    background-color: rgb(109, 109, 252);
    box-shadow: rgba(35, 55, 80, 0.3) 0px 6px 12px 0px;
}

.labels {
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

label {
    font-family: 'Roboto Condensed', sans-serif;
    display: block;
    font-size: 20px;
    font-weight: bold;
}

nav {
    background-color: rgb(7, 11, 120);
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: white;
    background-image: linear-gradient(to right, rgb(7, 11, 120), rgb(68, 67, 139), rgb(152, 152, 168));
}

h1 {
    margin-left: 8px;
    font-size: 28px;
}

a {
    font-size: 20px;
}

.home {
    text-decoration: none;
    color: white;
    margin-left: 70%;
}

.common-info {
    display: flex;
    margin-top: 100px;
    border: 1px solid black;
}

.common-currencies {
    margin: auto;
    border-radius: .4rem;
    box-shadow: rgba(35, 55, 80, 0.3) 0px 6px 12px 0px;
    padding: 25px;
}

ul {
    list-style: none;
    padding-left: none;
    padding-inline-start: 0px;
    margin: auto;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}