<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <nav>

    </nav>

    <div class="conversion">
        <form method="POST" action="/convert">
            <div class="labels">
                <label for="start-choice">From
                    <input type="text" id="start-choice" name="start-choice" list="start" required>
                </label>
                <datalist id="start">
                    {% for currency in currencies %}
                        <option value="{{currency}}"></option>
                    {% endfor %}
                </datalist>
        
                <label for="end-choice">To
                    <input type="text" id="end-choice" name="end-choice" list="end" required>
                </label>
                <datalist id="end">
                    {% for currency in currencies %}
                        <option value="{{currency}}"></option>
                    {% endfor %}
                </datalist>
        
                <label for="amount">Amount
                    <input id="amount" type="number" min="0" step="0.01" name="amount" required>
                </label>
            </div>
            

            <div class="button-container">
                <p> </p>
                {% block conversion %}{% endblock %}
                <button class="button">Convert</button>
            </div>
    
        </form>
        
    </div>
    


    
    
</body>
</html>