<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <nav>

    </nav>


    <form method="POST">
        <label for="convert-from">
            <input type="text" name="start" list="start" required>
            <datalist id="start">
            {% for currency in currencies %}
                <option value="{{currency}}"></option>
            {% endfor %}
            </datalist>
            
        </label>

        <label for="convert-to">
            <input type="text" name="end" list="end" required>
            <datalist id="end">
                {% for currency in currencies %}
                    <option value="{{currency}}"></option>
                {% endfor %}
            </datalist>
        </label>

        <label for="amount">
            <input type="number" name="amount" required>
        </label>

        <button>Convert</button>

    </form>

    {% block conversion %}
    {% endblock %}
    
</body>
</html>