{% extends 'base.html' %}

{% block conversion %}
    <p class="conversion-result"><u>Result:</u> {{amount}} {{convert_start}} = {{currency_rates.convert(convert_start, convert_end, amount) | round(2)}} {{convert_end}}</p>
{% endblock %}


{% block content %}
    <div class="common-info">
        <div class="common-currencies">
            <h3>Common Currencies</h3>
            <ul>
            {% for item in common_currencies %}
                <li>{{item}}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
